@import "../styles/variables.css";

.timeline__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline__item:first-child,
.timeline__item:last-child {
  margin-right: var(--distancer-small);
}

.timeline__item-icon-container {
  display: flex;
  align-items: center;
  width: var(--distancer-large);
  height: var(--distancer-large);
  border: 2px solid var(--color-gray-light);
  border-radius: 50%;
}

.timeline__item-icon {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-big);
}

.timeline__timeline::before,
.timeline__timeline::after {
  content: "";
  display: block;
  width: 2px;
  height: var(--distancer);
  background-color: var(--color-gray-light);
  margin-left: calc(var(--distancer-large) / 2);
}

.timeline__item:first-child .timeline__timeline::before{
  height: 0;
  margin-top: var(--distancer);
}

.timeline__item:last-child .timeline__timeline::after{
  height: 0;
}

.timeline__item-meta-container {
  min-width: 250px;
  margin-left: var(--distancer);
  margin-right: var(--distancer);
  margin-bottom: 0px;
}

.timeline__item-child-container {
  flex-grow: 1;
}

.timeline__item-title {
  color: var(--color-petrol);
}

.timeline__item-date {
  color: var(--color-gray);
}

.timeline_expand-ctrl {
  display: block;
  text-decoration: underline;
  margin: 15px 5px 10px;
}
