@import "../styles/variables.css";

.timeline_container {
  margin-top: var(--distancer);
}

.timeline__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline__item:first-child,
.timeline__item:last-child {
  margin-right: var(--distancer-small);
}

.timeline__item-icon-container {
  display: flex;
  align-items: center;
  width: 51px;
  height: 51px;
  border: 1px solid #525252;
  border-radius: 50%;
}

.timeline__item-icon {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-big);
}

.timeline__timeline::before,
.timeline__timeline::after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: #525252;
  margin-left: 25px;
}

.timeline__item:first-child .timeline__timeline::before{
  height: 0;
  margin-top: var(--distancer);
}

.timeline__item:last-child .timeline__timeline::after{
  height: 0;
}

.timeline__item-meta-container {
  min-width: 250px;
  margin-left: var(--distancer);
  margin-right: var(--distancer);
}

.timeline__item-child-container {
  flex-grow: 1;
}

.timeline__item-title {
  color: var(--color-petrol);
}

.timeline__item-date {
  color: var(--color-petrol);
}

.timeline_expand-ctrl {
  display: block;
  text-decoration: underline;
  margin: 15px 5px 10px;
}

.timeline_separator {
  color: #8A8A8A;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  margin: 4px 0px;
}
.timeline_separator::after {
  content: "";
  display: inline-block;
  width: 80%;
  height: 0;
  border-top: 2px dashed #8A8A8A;
  margin-left: 13px;
  margin-bottom: 4px;
}
