@import "../../styles/variables.css";
@import "./select-scheme-yellow.module.css";

:root {
  --select-field-font-size: var(--unit);
  --select-field-padding: calc(var(--distancer) / 3);
  --select-field-height: calc(var(--select-field-padding) * 2 + var(--select-field-font-size));
  --select-focus-label-top: calc(-1 * (var(--select-field-padding) + var(--select-field-font-size)));
  --select-text-label-color: var(--color-black);

  /* same as button neutral color */
  --select-arrow-color: color(var(--palette-grey-900) a(40%));
  --select-arrow-color-hover: vanvm r(--palette-grey-900);
}

.select {
  position: relative;

  transition-timing-function: var(--animation-curve-default);
  transition-duration: var(--animation-duration);
  transition-property: opacity;
}

.label {
  position: absolute;
  z-index: 2;
  top: var(--select-field-padding);
  left: var(--select-field-padding);

  transition-timing-function: var(--animation-curve-default);
  transition-duration: var(--animation-duration);
  transition-property: top, font-size, color;

  color: var(--select-text-label-color);

  font-weight: normal;
}

.select--disabled {
  pointer-events: none;

  opacity: .6;
}

.select--focused .label {
  top: var(--select-focus-label-top);

  color: var(--color-primary);
}

.select--focused :global(.Select-control) {
  border-bottom: 1px solid var(--border-gray);
  box-shadow: none;
}

.select-has-value .label {
  top: var(--select-focus-label-top);
}

.inner-select {
  position: relative;

  /* z-index: 1; */
}

.inner-select :global(.Select-arrow-zone) {
  padding-right: 0;
}

.inner-select :global(.Select-control) {
  border-bottom: 1px solid var(--border-gray);
}

.inner-select :global(.Select-arrow) {
  border-top-color: var(--select-arrow-color);
}

.inner-select :global(.Select-arrow-zone .Select-arrow):hover {
  border-top-color: var(--select-arrow-color-hover);
}
