{
  "parser": "babel-eslint",
  "root": true,
  "extends": [
    "@leeruniek/eslint-config/targets/react",
    "@leeruniek/eslint-config/rules/flow"
  ],

  "globals": {
    "require": true,
    "module": true
  },

  "rules": {
  },
  "settings": {
    "react": {
      "version": "16.6",
      "flowVersion": "0.86"
    },

    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5,
    },

    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],

        // Can add a path segment here that will act like a source root, for
        // in-project aliasing (i.e. `import MyStore from 'stores/my-store'`)
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
