:root {
  --distancer: 30px;
  --font-size-normal: 14px;
  --border-gray: var(--palette-grey-300);
  --preferred-font: "open sans", Helvetica, Arial, sans-serif;
  --global-radius: 3px;
  --global-line-height: 1.42857143;
  --unit: 13px;
  --distancer-small: 5px;
  --distancer: 30px;
  --background-content: #F3F3F4;
  --color-background: #FFF;
  --color-black: #676A6C;
  --color-primary: #3DCCB4;
  --color-warning: var(--palette-orange-300);
  --color-leer-blue: #2DACE3;
  --color-leer-yellow: #F49606;
  --color-gray-light: #F3F3F4;
  --color-gray-medium: #888A8C;
  --color-gray: #8A8C8E;
  --color-petrol: #293846;
  --color-petrol-light: #2F4050;
  --color-purple: #766D91;
  --color-petrol-dark: color(var(--color-petrol) shade(5%));
  --color-primary-dark: color(var(--color-primary) shade(50%));
  --font-size: 13px;
  --font-size-tiny: 11px;
  --font-size-small: 12px;
  --font-size-normal: var(--font-size);
  --font-size-medium: 14px;
  --font-size-big: 18px;
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --color-dark-yellow: #F5A623;
  --color-dark-red: #D0021B;
}
