@import "../styles/variables.css";

.radio-group--horizontal {
  display: flex;
  align-items: center;
}

.radio-group__label {
  font-size: var(--font-size-small);
  margin-bottom: var(--radio-field-margin-bottom);
}

.radio-group__label--horizontal {
  margin-bottom: 0px;
}

.radio-group__separator {
  margin-bottom: calc(var(--distancer) / 3);

  color: var(--color-petrol);

  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
}

.radio-group__radio {
  padding-left: calc(var(--distancer) / 3);
}

.radio-group__radio--horizontal {
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.radio-group label + div {
  margin-top: calc(var(--distancer) / 2);
}
