@import "../styles/variables.css";

.histogram--table {
  display: flex;
}
.histogram--table__counter{
  margin-right: 65px;
}
.histogram--table__label{
  margin-bottom: var(--distancer-small);

  font-weight: var(--font-weight-bold);
}

.histogram--table .histogram__item {
  display: inline-block;

  margin-right: calc(var(--distancer) / 3);
}

.histogram--table .histogram__item:last-child {
  margin-right: 0;
}
